# Load data from CSV or Excel file

In [2]:

pwd

'C:\\Users\\HP'

In [4]:
import pandas as pd

In [10]:
pd_csv = pd.read_excel(r"C:\Users\HP\Desktop\contacts.xlsx")
pd_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Number  4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [11]:
pd_csv

              Name        Number
0  Muhammad Furqan  923152908706
1     Sameer Ahmed  923152853054
2     Talha Shahid  923002993930
3       Azwar Khan  923172641922

# Read data from API with JSON data format

# Read data from HTML Table

In [14]:
pd_csv.Name = pd.to_datetime(pd_csv.Name)
pd_csv.info()

ParserError: Unknown string format: Muhammad Furqan

In [15]:
pd_csv.Name.str.lower()

0    muhammad furqan
1       sameer ahmed
2       talha shahid
3         azwar khan
Name: Name, dtype: object

In [16]:
pd_csv[pd_csv.Name.str.lower() == "muhammad furqan"]

              Name        Number
0  Muhammad Furqan  923152908706

In [17]:
pd_csv.Name.str.lower() == "muhammad furqan"

0     True
1    False
2    False
3    False
Name: Name, dtype: bool

In [27]:
pd_csv.Name.str.lower().str.contains("furqan")

0     True
1    False
2    False
3    False
Name: Name, dtype: bool

In [28]:
pd_csv[pd_csv.Name.str.lower().str.contains("furqan")]

              Name        Number
0  Muhammad Furqan  923152908706

In [30]:
pd_csv[pd_csv.Name.str.lower().str.contains("furqan") | pd_csv.Name.str.lower().str.contains("khan")] #Or conditional filter

              Name        Number
0  Muhammad Furqan  923152908706
3       Azwar Khan  923172641922

In [31]:
pd_csv[pd_csv.Name.str.lower().str.contains("furqan") & pd_csv.Name.str.lower().str.contains("furqan")] #And conditional filter

              Name        Number
0  Muhammad Furqan  923152908706

In [33]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [37]:
df_xml = pd.read_xml(r"C:\Users\HP\Desktop\abc.xml")

In [38]:
df_xml

,id,author,title,genre,price,publish_date,description
0,bk101,"Gambardella, Matthew",XML Developer's Guide,Computer,44.95,2000-10-01,An in-depth look at creating applications \n ...
1,bk102,"Ralls, Kim",Midnight Rain,Fantasy,5.95,2000-12-16,"A former architect battles corporate zombies, ..."
2,bk103,"Corets, Eva",Maeve Ascendant,Fantasy,5.95,2000-11-17,After the collapse of a nanotechnology \n ...
3,bk104,"Corets, Eva",Oberon's Legacy,Fantasy,5.95,2001-03-10,"In post-apocalypse England, the mysterious \n ..."
4,bk105,"Corets, Eva",The Sundered Grail,Fantasy,5.95,2001-09-10,"The two daughters of Maeve, half-sisters, \n ..."
5,bk106,"Randall, Cynthia",Lover Birds,Romance,4.95,2000-09-02,When Carla meets Paul at an ornithology \n ...
6,bk107,"Thurman, Paula",Splish Splash,Romance,4.95,2000-11-02,A deep sea diver finds true love twenty \n ...
7,bk108,"Knorr, Stefan",Creepy Crawlies,Horror,4.95,2000-12-06,"An anthology of horror stories about roaches,\..."
8,bk109,"Kress, Peter",Paradox Lost,Science Fiction,6.95,2000-11-02,After an inadvertant trip through a Heisenberg...
9,bk110,"O'Brien, Tim",Microsoft .NET: The Programming Bible,Computer,36.95,2000-12-09,Microsoft's .NET initiative is explored in \n ...
10,bk111,"O'Brien, Tim",MSXML3: A Comprehensive Guide,Computer,36.95,2000-12-01,The Microsoft MSXML3 parser is covered in \n ...
11,bk112,"Galos, Mike",Visual Studio 7: A Comprehensive Guide,Computer,49.95,2001-04-16,Microsoft Visual Studio 7 is explored in depth...

In [44]:
df_xml[(df_xml.genre.str.lower()=="computer") & (df_xml.price> 30) ]['author']

0     Gambardella, Matthew
9             O'Brien, Tim
10            O'Brien, Tim
11             Galos, Mike
Name: author, dtype: object

In [46]:
df_xml[(df_xml.genre.str.lower()=="romance") & (df_xml.publish_date.str.lower().contains.("2000")) ]['author']

SyntaxError: invalid syntax (Temp/ipykernel_16416/1680499714.py, line 1)

In [51]:
df_xml.publish_date = pd.to_datetime(df_xml.publish_date)

In [53]:
df_xml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            12 non-null     object
 1   author        12 non-null     object
 2   title         12 non-null     object
 3   genre         12 non-null     object
 4   price         12 non-null     float64
 5   publish_date  12 non-null     datetime64[ns]
 6   description   12 non-null     object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 800.0+ bytes

In [54]:
df_xml.publish_date.dt.year

0     2000
1     2000
2     2000
3     2001
4     2001
5     2000
6     2000
7     2000
8     2000
9     2000
10    2000
11    2001
Name: publish_date, dtype: int64

In [58]:
df_xml[(df_xml.genre.str.lower()=="romance") & (df_xml.publish_date.dt.year == 2000) ]['author']

5    Randall, Cynthia
6      Thurman, Paula
Name: author, dtype: object

In [60]:
df_xml[df_xml.publish_date.dt.strftime("%b") == "Dec"]

,id,author,title,genre,price,publish_date,description
1,bk102,"Ralls, Kim",Midnight Rain,Fantasy,5.95,2000-12-16,"A former architect battles corporate zombies, ..."
7,bk108,"Knorr, Stefan",Creepy Crawlies,Horror,4.95,2000-12-06,"An anthology of horror stories about roaches,\..."
9,bk110,"O'Brien, Tim",Microsoft .NET: The Programming Bible,Computer,36.95,2000-12-09,Microsoft's .NET initiative is explored in \n ...
10,bk111,"O'Brien, Tim",MSXML3: A Comprehensive Guide,Computer,36.95,2000-12-01,The Microsoft MSXML3 parser is covered in \n ...

In [61]:
df_xml.publish_date.dt.strftime("%d-%b-%y")

0     01-Oct-00
1     16-Dec-00
2     17-Nov-00
3     10-Mar-01
4     10-Sep-01
5     02-Sep-00
6     02-Nov-00
7     06-Dec-00
8     02-Nov-00
9     09-Dec-00
10    01-Dec-00
11    16-Apr-01
Name: publish_date, dtype: object

In [63]:
df_xml[(df_xml.publish_date.dt.strftime("%b") == "Dec") | (df_xml.publish_date.dt.strftime("%b") == "Oct")]

,id,author,title,genre,price,publish_date,description
0,bk101,"Gambardella, Matthew",XML Developer's Guide,Computer,44.95,2000-10-01,An in-depth look at creating applications \n ...
1,bk102,"Ralls, Kim",Midnight Rain,Fantasy,5.95,2000-12-16,"A former architect battles corporate zombies, ..."
7,bk108,"Knorr, Stefan",Creepy Crawlies,Horror,4.95,2000-12-06,"An anthology of horror stories about roaches,\..."
9,bk110,"O'Brien, Tim",Microsoft .NET: The Programming Bible,Computer,36.95,2000-12-09,Microsoft's .NET initiative is explored in \n ...
10,bk111,"O'Brien, Tim",MSXML3: A Comprehensive Guide,Computer,36.95,2000-12-01,The Microsoft MSXML3 parser is covered in \n ...

In [67]:
df_xml[df_xml.publish_date.dt.strftime("%b").isin(["Dec", "Mar", "Oct"])] #returns books published in Dec, March and Oct

,id,author,title,genre,price,publish_date,description
0,bk101,"Gambardella, Matthew",XML Developer's Guide,Computer,44.95,2000-10-01,An in-depth look at creating applications \n ...
1,bk102,"Ralls, Kim",Midnight Rain,Fantasy,5.95,2000-12-16,"A former architect battles corporate zombies, ..."
3,bk104,"Corets, Eva",Oberon's Legacy,Fantasy,5.95,2001-03-10,"In post-apocalypse England, the mysterious \n ..."
7,bk108,"Knorr, Stefan",Creepy Crawlies,Horror,4.95,2000-12-06,"An anthology of horror stories about roaches,\..."
9,bk110,"O'Brien, Tim",Microsoft .NET: The Programming Bible,Computer,36.95,2000-12-09,Microsoft's .NET initiative is explored in \n ...
10,bk111,"O'Brien, Tim",MSXML3: A Comprehensive Guide,Computer,36.95,2000-12-01,The Microsoft MSXML3 parser is covered in \n ...