In [2]:
#index left to right    0       1       2          3
             names = ["Qasim","Nasir","Imran", "Arsalan" ]
#index right to left    -4      -3       -2       -1
print(type(names))

<class 'list'>

In [3]:
names[2]

'Imran'

In [5]:
print(type(names[2]))

<class 'str'>

In [6]:

names[-3]

'Nasir'

In [7]:
print(names[-3])

Nasir

In [8]:
#change or update list
names[2]="Ajlal" #replace/update value at index 2

names

['Qasim', 'Nasir', 'Ajlal', 'Arsalan']

In [9]:
print(names)

['Qasim', 'Nasir', 'Ajlal', 'Arsalan']

In [10]:
print(names[2])

Ajlal

In [11]:
#slicing
#start (includes start value)
#end (excludes start value)
#step (sequence interval)
#slicing runs from left to right

#list[start:end:step]

print(names[0:2]) #positive indexing

['Qasim', 'Nasir']

In [12]:
print(names[-4:-2]) #negative indexing (slicing runs from left to right)

['Qasim', 'Nasir']

In [14]:
print(names[1::]) #in case of blank value, it automatically fills in value 
#(start value will be 0 index, end value will be last value of list, step will be 1)

['Nasir', 'Ajlal', 'Arsalan']

In [17]:
print(names[:6])

['Qasim', 'Nasir', 'Ajlal', 'Arsalan']

In [18]:
print(names[::-1]) #list in reverse order

['Arsalan', 'Ajlal', 'Nasir', 'Qasim']

In [19]:
print(names[::-2])

['Arsalan', 'Nasir']

In [20]:
range(2,21,2) #generator function

range(2, 21, 2)

In [21]:
list(range(2,21,2)) #list is an iteration function

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
list(range(7,71,7))

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [23]:
print(type(names))

<class 'list'>

In [24]:
dir(names) #without double underscore are methods or actions

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [27]:
names.append("Noman") #adds items into list
print(names)

['Qasim', 'Nasir', 'Ajlal', 'Arsalan', 'Noman', 'Noman']

In [28]:
names.clear() #clears the items from list
print(names)

[]

In [38]:
names = ["Qasim","Nasir","Imran", "Arsalan" ]
names1=names

names1[0] = "Asif"
print(names)
print(names1)

['Asif', 'Nasir', 'Imran', 'Arsalan']
['Asif', 'Nasir', 'Imran', 'Arsalan']

In [39]:
names = ["Qasim","Nasir","Imran", "Arsalan" ]
names1 = names.copy()

names1[0] = "Asif"
print(names)
print(names1)

['Qasim', 'Nasir', 'Imran', 'Arsalan']
['Asif', 'Nasir', 'Imran', 'Arsalan']

In [31]:
names.count("Qasim")

0

In [36]:
l1 = ["Qasim","Nasir"]
l2 = ["Noman","Naveed"]
l1.append(l2) #append = results in two or more separate lists
print(l1)

['Qasim', 'Nasir', ['Noman', 'Naveed']]

In [37]:
l1 = ["Qasim","Nasir"]
l2 = ["Noman","Naveed"]
l1.extend(l2) #extend = results in one single lists
print(l1)

['Qasim', 'Nasir', 'Noman', 'Naveed']

In [40]:
l1 = ["Qasim","Nasir"]
l2 = ["Noman","Naveed"]
l1.append(l2) 
print(l1)
print(l1[-1])
print(l1[-1][0])

['Qasim', 'Nasir', ['Noman', 'Naveed']]
['Noman', 'Naveed']
Noman

In [41]:
#insert
names.insert(1,"Noman") #insert noman at index no. 1
names

['Qasim', 'Noman', 'Nasir', 'Imran', 'Arsalan']

In [42]:
names.index("Imran") #returns index number or position of "Imran"

3

In [59]:
#Create Guest List
#if name already exists then give index

guests = []
guests

[]

In [68]:
guest_name = input("Enter Guest Name")
if guest_name in guests:
    print("Already Added")
else:
        guests.append(guest_name)
print(guests)

Enter Guest Namekashif
['Furqan', 'noman', 'Kashif', 'salman', 'kashif']

In [64]:
guests1 = []
guests1

[]

In [70]:
guest_name1 = input("Enter Guest Name")
if guest_name1 in guests1:
    print("Already Added")
else:
        guests1.extend([guest_name1])
print(guests1)

Enter Guest NameHibban
['salman', 'h', 'a', 'm', 'z', 'a', 's', 'h', 'a', 'h', 'e', 'e', 'r', 'Hibban']

In [71]:
#delete value

del guests[2] #deletes kashif

In [72]:
guests

['Furqan', 'noman', 'salman', 'kashif']

In [74]:
alist = [11,22,33,"Nasir",False,[99,88,66]]
alist

[11, 22, 33, 'Nasir', False, [99, 88, 66]]

In [75]:
newList = ["Nasir", "Asad","Ali","Kashan"]

In [79]:
#Welcome each guest in newList

for guest in newList:
    print(f"Welcome Mr. {guest}")

Welcome Mr. Nasir
Welcome Mr. Asad
Welcome Mr. Ali
Welcome Mr. Kashan

In [80]:
Salary = [25000,30000,35000,40000,45000]
Salary

[25000, 30000, 35000, 40000, 45000]

In [88]:
for IncreasedSalary in Salary:
    print(f"{IncreasedSalary*1.1}")

27500.000000000004
33000.0
38500.0
44000.0
49500.00000000001

In [90]:
Salary = [25000,30000,35000,40000,45000]
Salary

[25000, 30000, 35000, 40000, 45000]

In [92]:
for IncreasedSalary in Salary:
    IncreasedSalary = Salary+Salary*0.1
    IncreasedSalary.append(Salary)
    
    print(Salary)
    print(IncreasedSalary)

TypeError: can't multiply sequence by non-int of type 'float'

In [100]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [101]:
#breaks loop
for a in range(100):
    if a == 10:
        break
    print(a)

0
1
2
3
4
5
6
7
8
9

In [103]:
#Continue skips the given value and then continues the loop
for a in range(10):
    if a == 4:
        continue
    print(a)

0
1
2
3
5
6
7
8
9

In [104]:
guest = []

In [105]:
for a in range(10):
    
    guest_name = input("Enter Guest Name")
    if guest_name in guests:
        print("Already Added")
    else:
        guests.append(guest_name)
print(guests)

Enter Guest NameFurqan
Already Added
Enter Guest Namehassan
Enter Guest Nameshahzad
Enter Guest Nameimran
Enter Guest Namewaqar
Enter Guest NameFurqan
Already Added
Enter Guest Namesalman
Already Added
Enter Guest Namehamza
Enter Guest Nameislam
Enter Guest Namenoman
Already Added
['Furqan', 'noman', 'salman', 'kashif', 'hassan', 'shahzad', 'imran', 'waqar', 'hamza', 'islam']

In [106]:
guest2 = []

In [107]:
for a in range(10):
    
    guest_name2 = input("Enter Guest Name")
    if guest_name2 in guest2:
        print("Already Added")
    else:
        guest2.append(guest_name2)
print(guest2)

Enter Guest Namehassam
Enter Guest Namesalman
Enter Guest Nameehsam
Enter Guest Namehassam
Already Added
Enter Guest Namekashif
Enter Guest Namefurqan
Enter Guest Namekashan
Enter Guest Namehamza
Enter Guest Namejasim
Enter Guest Namehashim
['hassam', 'salman', 'ehsam', 'kashif', 'furqan', 'kashan', 'hamza', 'jasim', 'hashim']

In [109]:
guests = []
counter = 0
while counter<5:
    guest_name = input("Enter Guest Name ")
    if guest_name in guests:
        print("Already Added")
    else:
        guests.append(guest_name)
    counter +=1
    
print(guests)

Enter Guest Name ab
Enter Guest Name bc
Enter Guest Name cd
Enter Guest Name de
Enter Guest Name ef
['ab', 'bc', 'cd', 'de', 'ef']