In [1]:
print("Jupyter")

Jupyter

Markdown is for writing remarks etc. in code output format

Raw NB Convert is for writing text etc. in cell

# Headings used for headings

In [3]:
print('This is "Pakistan", land of pure')

This is "Pakistan", land of pure

In [4]:
print("prime number",1,1+2)

prime number 1 3

In [7]:
print("Muhammad","Furqan")

Muhammad Furqan

In [14]:
print("Muhammad", end="")
print("Furqan")

MuhammadFurqan

In [17]:
variable1 = "Muhammad Furqan"
variable2 = "Muhammad Feroz"

In [23]:
variable1

'Muhammad Furqan'

In [25]:
variable1+" "+variable2

'Muhammad Furqan Muhammad Feroz'

In [26]:
variable1+"\n"+variable2

'Muhammad Furqan\nMuhammad Feroz'

In [27]:
print(variable1+"\n"+variable2)

Muhammad Furqan
Muhammad Feroz

In [28]:
print(len(variable1))

15

In [30]:
Name = "Muhammad Furqan"
FatherName = "Muhammad Feroz"
description = "My name is {} and my father's name is {}".format(Name,FatherName)
#placeholder
print(description)

My name is Muhammad Furqan and my father's name is Muhammad Feroz

In [33]:
description = "My name is "+Name+" and my Father name is "+FatherName
print(description)

My name is Muhammad Furqan and my Father name is Muhammad Feroz

In [36]:
description = f"My name is {Name} and my father name is {FatherName}"
print(description)

My name is Muhammad Furqan and my father name is Muhammad Feroz

In [38]:
Roll = 15987
Course = "DA"

In [42]:
Card = f"""
Name:           {Name}
Father Name:    {FatherName}
Roll No.:       {Roll}
Course:         {Course}"""
print(Card)

Name:           Muhammad Furqan
Father Name:    Muhammad Feroz
Roll No.:       15987
Course:         DA

# Operators
-Binary Operators
-Uniry Operators
-Comparison operators (< > == !=)(less than, greater than, equal to, not equal to) results in True or False

In [2]:
34==34

True

In [3]:
34<30

False

In [4]:
34>30

True

In [6]:
34!=34

False

In [9]:
34>35

False

# Operattor Precedance
BODMAS rule
Exponent Top rule

In [12]:
-2*5+6*(5+7)**2

854

In [13]:
(3*4)**2*5

720

In [14]:
(3*4)**(2*5)

61917364224

# Converting Mathematical expressions into Code

In [16]:
# X = (-b+(b**2-4*a*c)**0.5)/2a (Quadratic Equation)

In [24]:
a=3
b=12
c=5
X = (-b+(b**2-4*a*c)**0.5)/(2*a)

print(X)

-0.4724747683480534

In [21]:
a=3
b=12
X=a**2+2*a*b+b**2

In [22]:
X

225

# Variable

In [4]:
age = int(input("your age"))

your age28

In [1]:
name = input("your name?")

your name? Furqan